body {
    background-color: rgb(185, 251, 119);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.no-drag {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select:none;
}

.flex-item {
    margin: 0 20px;
}

.button {
    text-align: center;
    background-color: white;
    border: 2px outset gray;
    cursor: pointer;
    font-size: 170%;
    height: 40px;
    width: 165px;
}

.button:active {
    transform: scale(0.98);
}

#title {
    text-align: center;
    font-size: 250%;
}

#example {
    text-align: center;
}

#quiz {
    padding: 60px 0;
    margin: 40px 0;
    width: 100%;
    background-color: lightgoldenrodyellow;
}

#result {
    font-size: 540%;
    font-weight: 700;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 0;
}

#result span {
    font-size: 40%;
    color: tomato;
}

#flex-container {
    justify-content: center;
    display: flex;
    margin: 20px 0;
}

#setting {
    background-color: white;
    text-align: center;
    border: 1px solid;
    padding: 5px;
    margin-bottom: 30px;
}

#canvas {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

#shortcut-keys {
    position: absolute;
    top: 87%;
}